*~
/build
/*/build
/install
/*/install
core
core.*
CMakeFiles/*
CMakeCache.txt
/.vscode
/.vscode-cache
/config.mk
/fpsdk
*.fpl
*.fpl.gz
*.bag
*.bak
/.devcontainer/.bash_history.d
/.devcontainer/.vscode-server
.devcontainer/.gdb/__pycache__
/ws
/ws2
/ros_ws
/ros1_ws
/ros2_ws
.catkin_tools
/log
/src
meier*
foo*
bar*
baz*
/tmp
/*.raw
/*.fpl
/*.jsonl
/*.raw.gz
/*.fpl.gz
/*.jsonl.gz
/*.yaml
/*.gz
/*.json
test-data/*
!test-data/.gitkeep
build-tests/

# We must not commit such files ever. See section FPSDK_BUILD_ROS in fpsdk_doc/fpsdk_build.hpp
CATKIN_IGNORE
COLCON_IGNORE

# Ignore secret-scripts prototype area
secret-scripts/
